/*@font-face {*/
    /*font-family: blocky;*/
    /*src: url(../fonts/blocky.ttf);*/
/*}*/

/*body {*/
    /*margin: 0;*/
/*}*/

/*.app {*/
    /*background-color: #000;*/
    /*color: #fff;*/
    /*font-family: blocky;*/
    /*font-size: 25px;*/
    /*padding: 50px;*/
    /*text-align: center;*/
/*}*/

/*.app .logo {*/
    /*height: 200px;*/
/*}*/

/*.rotate {*/
    /*animation: spin 10s linear infinite;*/
/*}*/

/*@keyframes spin {*/
    /*from {*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*to {*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/
table{
    table-layout: fixed;
    width: 100%;
}

table td:nth-child(1),
table td:nth-child(2){
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.inputErrorMessage{
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 0;
}