table{
    table-layout: fixed;
    width: 100%;
}

/*table td:nth-child(1),*/
/*table td:nth-child(2){*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow:ellipsis;*/
/*}*/
.inputErrorMessage{
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 0;
}
.mobileGradeAverage{
    padding-left: 0;
}